 /* font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body{
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.container{
    width: 1128px;
    margin: auto;
}

.img{
    width: 100%;
}

.d-flex{
    display: flex;
}

.d-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-size: 60px;
    line-height: 140%;
    letter-spacing: -.025em;
    color:#333;
}

.sky-line{
    font-size: 30px;
    line-height: 140%;
    letter-spacing: -.025em;
    color: #767676;
}

/* sec02 */

.grid{
    width: 552px;
    height: 224px;
    background: transparent;
    stroke: ;
}

.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}

.w-30{
    width: 30%;
}

.w-25{
    width: 25%;
}

.w-20{
    width: 20%;
}

@media(max-width:1280px){
    .container{
        width: 100%;
        margin: auto;
    }
}

/*  */

@media(max-width:1024px){


}

@media(max-width:768px){

}



@media(max-width:540px){


}

@media(max-width:340px){

}
