@import url("reset.css");
@import url("normalize.css");
@import url("common.css");



.main_top{
    position: relative;
}

.main_top::after{
    content: "";
    width: 100%;
    height: 710px;
    background-color: #F4F4F4;
    position: absolute;
    z-index: -1;
    top: 0;
}

.main_text{
    top: 141px;
    text-align: right;
    position: relative;
    z-index: 999;

}

.content-row{
    position: relative;
    width: 1124px;
    margin: auto;

} 

.main_car{
    width: 728px;
    height: 439px;
    position: absolute;


}


.bg-black{
    background-color: #0C3451;
    color: #fff;
    padding: 0.25rem 0.5rem;
}


.sky-line{
    position: relative;
}

.sky-line::after{
    content: "";
    width: 280px;
    height: 20px;
    background: #BADEF8;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.arrow{
    animation: lotate 2s infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    

}
@keyframes lotate {
    0% {
    top:0;
    }
  
    50% {
      top:30px;
    }
  
    100% {
     top:0;
    }
  }

@media(max-width:1280px){
    .main_text{
        margin-right: 50px;
    }
}


@media(max-width:1024px){
    .main_text{
        text-align: center;
        margin: 0;
    }
    .sky-line::after{
        content: "";
        width: 80%;
        right: 10%;
    }
}


@media(max-width:768px){
    .main_text{
        margin-bottom: 50px;
    }
}


@media(max-width:540px){

    .main_text h2{
        font-size: 2.5rem;
        line-height: 140%;
        letter-spacing: -.025em;
        color:#333;
    }    
    
    .sky-line{
        font-size: 1.43rem;
        line-height: 140%;
        letter-spacing: -.025em;
        color: #767676;
    }
}

@media(max-width:340px){
 

}
